<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:: Roshan Alwis ::.</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

</head>

<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#"> Roshan's Blog </a>
                </div>
                <div class="container-fluid">
                    <ul class="nav navbar-nav pull-right">
                        <li role="presentation" class="active"><a href="main"> Home </a></li>
                        <li role="presentation"><a href="#"> Projects </a></li>
                        <li role="presentation"><a href="#"> Publications </a></li>
                        <li role="presentation"><a href="#"> About </a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="img-circle" style="width:200px;height:200px;">
                </div>
                <div class="col col-sm-9">
                    <h3><b> Today's Thought </b></h3>
                    <p>
                        <i>
                            "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it."
                        </i>
                    </p>
                    <p class="pull-right"> by <b> Roshan </b></p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news in newsList %}
                <div class="col-sm-3">
                    <div class="text-center"><h4 class="light"><b> {{ news.title }} </b></h4></div>
                    <img src="{{ url_for('static', filename=news.image) }}" class="img-circle center-block" class="img-circle" style="width:100px;height:100px;"/>
                    <p class="text-center"> {{ news.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for news in newsList %}
                <div class="col-sm-3">
                    <a href="{{ news.reference }}" class="btn btn-info center-block">Read More</a>
                </div>
            {% endfor %}
        </div>

        <div class="footer">
            <nav class="navbar navbar-inverse">
            </nav>
        </div>
    </div>

</body>
</html>