<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.:: Roshan Alwis ::.</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

</head>

<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#"> Roshan's Blog </a>
                </div>
                <div class="container-fluid">
                    <ul class="nav navbar-nav pull-right">
                        <li role="presentation"><a href="/"> Home </a></li>
                        <li role="presentation" class="active"><a href="/projects"> Projects </a></li>
                        <li role="presentation"><a href="/publications"> Publications </a></li>
                        <li role="presentation"><a href="/about"> About </a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col col-sm-3">
                    <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="img-circle" style="width:200px;height:200px;">
                </div>
                <div class="col col-sm-9">
                    <h3><b> Project Book </b></h3>
                    <p>
                        <i>
                            "Here is my Github repository which contains all the project works that I have done so far.
                            This repository contains projects related to academic, freelancing and some cool works which
                            I used to do in my leisure time"
                        </i>
                    </p>
                    <p class="pull-right"> by <b> Roshan </b></p>
                </div>
            </div>
        </div>

        <table>
            <tr>
                {% for project in projectList %}
                    <div class="well span6 row">
                        <!-- <img src="{{ url_for('static', filename=project.image) }}" class="img-circle center-block" class="img-circle" style="width:100px;height:100px;"/> -->
                        <div class="text-left"><h4 class="light"><b> {{ project.title }} </b></h4></div>
                        {% for tag in project.tags %}
                            <p class="btn btn-success">{{ tag }}</p>
                        {% endfor %}
                        <p class="text-justify"> {{ project.description }} </p>
                        <a href="{{ project.link }}" class="btn btn-info"> More </a>
                    </div>
                {% endfor %}
            </tr>
        </table>

        <div class="footer">
            <nav class="navbar navbar-inverse">
            </nav>
        </div>
    </div>

</body>
</html>